@import 'default.css';

/* Dark theme overrides */
:root {
    --btcpay-brand-light: #ffd198;
    --btcpay-brand-medium: #FF9800;
    --btcpay-brand-dark: #313131;
    --btcpay-brand-darker: #353535;
    --btcpay-brand-darkest: #02000C;
}

