body {
  background: #3a3a3a;
}

a {
  color: #464646;
}
a:hover {
  color: black;
}

.top-header {
    color: #fff;
    background-color: #444444;
}
.top-header .timer-row {
    background: #636363;
}

.top-header .timer-row__spinner svg {
  fill: #ffcd82;
}

.action-button {
  background-color: #f7931a;
  border-color: #c76d00;
}
.action-button:hover {
  background-color: #ffa31b
}

.payment-tabs__tab {
  color: black !important;
}
.payment-tabs__slider {
  background-color: #FF9800;
}

.btnGroupLnd button {
  border-color: #c76d00 !important;
}
.btnGroupLnd button:hover {
  background-color: #efefef;
}
.btnGroupLnd button.active {
  background-color: #f7931a;
}
.btnGroupLnd button.active:hover {
  background-color: #c76d00;
}

.text-muted, .text-muted a {
  color: #9c9c9c !important;
}

.prettydropdown > ul {
  background: #7b7b7b;
  color: white;
}
  
.separatorGem {
  background: black;
}

.modal-content {
    box-shadow: 0 2px 32px 0 black;
}
