body {
  background: #3a3a3a;
}

.top-header {
    color: #fff;
    background-color: #444444;
}
.top-header .timer-row {
    background: #636363;
}

.action-button {
  background: #f7931a;
  border-color: #c76d00;
}

.payment-tabs__tab {
  color: black !important;
}
.payment-tabs__slider {
  background: #FF9800;
}

.btnGroupLnd button {
  border-color: #c76d00 !important;
}
.btnGroupLnd button:hover {
  background-color: #efefef;
}
.btnGroupLnd button.active {
  background: #f7931a;
}
.btnGroupLnd button.active:hover {
  background-color: #c76d00;
}

.text-muted, .text-muted a {
    color: #9c9c9c !important;
}  
  
.separatorGem {
  background: black;
}

.modal-content {
    box-shadow: 0 2px 32px 0 black;
}
