@import 'default.css';

:root {
    --btcpay-brand-light: #ffd18c;
    --btcpay-brand-medium: #FF9900;
    --btcpay-brand-dark: #404040;
    --btcpay-brand-darker: #3e3e3e;
    --btcpay-brand-darkest: #101010;
    
    --btcpay-color-primary-backdrop: #fdd1a4;
    --btcpay-color-primary-accent: #ff5e00;
    
    --btcpay-color-neutral-100: #fff9f1;
    --btcpay-color-neutral-200: #fcedd7;
    --btcpay-color-neutral-300: #f3e1c6;
    --btcpay-color-neutral-400: #d7cda7;
    --btcpay-color-neutral-500: #a09272;
    --btcpay-color-neutral-600: #ada380;
    --btcpay-color-neutral-700: #8b6f30;
    --btcpay-color-neutral-800: #342b13;
    --btcpay-color-neutral-900: #20180d;
}

