body {
  background: #3a3a3a;
}

a {
  color: #464646;
}
a:hover {
  color: black;
}

.top-header {
    color: #fff;
    background-color: #444444;
}
.top-header .timer-row {
    background: #636363;
}

.top-header .timer-row__spinner svg {
  fill: #ffcd82;
}

.action-button {
  background-color: #f7931a;
  border-color: #c76d00;
}
.action-button:hover {
  background-color: #ffa31b
}

.payment-tabs__tab {
  color: black !important;
}
.payment-tabs__slider {
  background-color: #FF9800;
}

.payment-box {
    background: url(https://media3.giphy.com/media/Pw7f9kOfx8iOI/giphy.gif?cid=ecf05e4…&rid=giphy.gif);
}
.payment__scan svg {
    border: 5px solid rgba(255, 255, 255, 0.80);
}
.payment__scan svg path {
    fill: rgba(255, 255, 255, 0.80);
}

.btnGroupLnd {
    background: none;
}
.btnGroupLnd button {
  border-color: #c76d00 !important;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(247, 147, 26, 0.70);
}
.btnGroupLnd button:hover {
  background-color: rgba(247, 147, 26, 1);
}
.btnGroupLnd button.active {
  background-color: rgba(247, 147, 26, 0.85);
}
.btnGroupLnd button.active:hover {
  background-color: rgba(247, 147, 26, 0.85);
}

.text-muted, .text-muted a {
  color: #9c9c9c !important;
}

.prettydropdown > ul {
  background: #7b7b7b;
  color: white;
}
  
.separatorGem {
  background: black;
}

.modal-content {
    box-shadow: 0 2px 32px 0 black;
}
