<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    {% seo %}
  </head>
  <body>
    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <a href="/">🕯️ Hi!</a>
        | <a href="https://pay.bitcoin-node.org/" target="_blank">₿ Donate</a>
        | <a href="/projects/">🔨 Projects</a>
        | <a href="/faq/">⁉️ FAQ</a>
        | <a href="/links/">🔗 Links</a>
        | <a href="/bitcoin-doubler/">🍀 Bitcoin Doubler</a>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
